//_style-desktop.scss
@use "style-global";

$top-nav-height: 150px;

.menuWrapper {
    display: none;
}

@media all and (min-width: style-global.$layout-breakpoint) {
    //headers font-sizes:
    $h-sizes: 3rem, 2rem, 1.6rem, 1.4rem;

    @each $h-size in $h-sizes {
        $i: index($h-sizes, $h-size);
        //@debug $i, $h-size;

        h#{$i} {
            font-size: $h-size;
        }
    }

    a {
        @include style-global.link;
    }

    #logo {
        margin-left: 3rem;
        text-shadow: 2px 2px 5px rgb(255, 255, 255, 0.7);

        h2:hover {
            color: style-global.$color-link-hover;
            text-shadow: 2px 2px 7px style-global.$color-link-hover;
        }
    }

    #navWrapper {
        margin: 1rem;
    }

    header {
        @include style-global.flexBox;
        width: 100%;
    }

    .menuWrapper {
        @include style-global.flexBox($fd: row, $jc: space-between);
        width: style-global.$max-width;
        height: $top-nav-height;
        background-color: style-global.$color-menu;
    }

    .mainWrapper {
        @include style-global.flexBox;
        width: style-global.$max-width;
        background-color: style-global.$color-main-content;
        width: style-global.$max-width;
    }

    .pageWrapper {
        @include style-global.flexBox;
    }

    .bigImg {
        @include style-global.flexBox;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;

        & img {
            max-width: 90%;
        }
    }

    .imgHeaderBig {
        @include style-global.flexBox;
        position: absolute;
        font-weight: bold;
        letter-spacing: 0.2rem;
        text-align: center;
        text-shadow: 5px 5px 5px rgba(10, 10, 10, 0.5);
        top: 40%;
        width: 70%;
        font-size: 3rem;
    }

    .butt1 {
        width: 110px;
        height: 40px;
        border-radius: 5px;
        margin: 0.5rem;
        background-color: style-global.$color-menuButton;
        color: style-global.$color-text;
        font-size: 1rem;
        cursor: pointer;
    }

    #starterBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10%;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 70%;
        background-color: style-global.$color-menu;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .priceHeader {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .fourImg {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "img1 img2 img3 img4"
            "pr1 pr2 pr3 pr4";
        padding-top: 1rem;

        & img {
            height: 350px;
            width: 70%;
            object-fit: cover;
        }
    }

    .price {
        @include style-global.link;
        width: 50%;
        position: relative;
        top: -110%;
        text-shadow: 2px 2px 2px rgba(10, 10, 10, 0.8);
    }

    .threeImg {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-columns: 5fr 5fr 5fr;
        grid-template-areas:
            "badge1 badge2 badge3"
            "message1 message2 message3";
        padding-top: 1rem;

        & article {
            @include style-global.link;
            margin-bottom: 2rem;
            width: 75%;
            text-align: center;
        }
    }

    .badge1,
    .badge2 {
        width: 100px;
        height: 100px;
    }

    .badge1 {
        fill: style-global.$color-text;
    }

    .badge2 {
        fill: none;
        stroke-width: 50;
        stroke: style-global.$color-text;
    }

    .linkHeader {
        font-size: 1.8rem;
    }

    footer {
        @include style-global.flexBox;
        width: 100%;
    }

    .footerWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: style-global.$color-menu;
        width: style-global.$max-width;
    }

    .contacts {
        @include style-global.flexBox($ai: start);
        padding: 2rem;
        gap: 20px;
        font-size: 1.2rem;
    }

    .formArea {
        @include style-global.flexBox;
        width: 100%;
    }

    .formWrapper {
        display: grid;
        grid-template-rows: 1fr 2fr;
        align-items: center;
        width: 70%;
        height: 100px;
        padding: 1em;
        border: 1px solid style-global.$color-text;
        border-radius: 1em;
        background-color: style-global.$color-main-content;
    }

    .formHeader {
        margin: 0.5rem;
    }

    .formInput {
        @include style-global.flexBox($fd: row);
        margin: 0.5rem;
        width: 100%;
    }

    input {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border: solid 1px style-global.$color-text;
        border-radius: 10px;
        background-color: style-global.$color-menu;
        color: style-global.$color-text;
        padding: 0.5rem;
        font-weight: bold;
        font-size: 0.9rem;

        &:focus {
            border-color: #042de2;
        }
    }
}