:root {
    --mobile-nav-height: 70px;
}

@media all and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.3rem;
    }
}

.mobileMenuWrapper {
    display: none;
}

@media all and (max-width: 1000px) {
    .mobileMenuWrapper {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: var(--mobile-nav-height);
        background-color: var(--color-menu);
    }

    .mainWrapper {
        width: 100%;
    }

    .imgHeaderBig {
        top: 20%;
        width: 80%;
        font-size: 1.3rem;
    }

    .bigImg img {
        width: 100%;
    }

    #starterBox {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        background-color: var(--color-menu);
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .fourImg {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-rows: 1fr 10px 1fr 10px 1fr 10px 1fr 10px;
        grid-template-areas:
            "img1"
            "pr1"
            "img2"
            "pr2"
            "img3"
            "pr3"
            "img4"
            "pr4";
        padding-top: 1rem;
    }

    .fourImg img {
        height: 450px;
        width: 100%;
        object-fit: cover;
    }

    .price {
        width: 50%;
        position: relative;
        top: -100px;
        text-shadow: 2px 2px 2px rgba(10, 10, 10, 0.8);
        cursor: pointer;
        color: var(--color-link);
    }

    .threeImg {
        display: grid;
        width: 100%;
        justify-items: center;
        align-items: center;
        grid-template-rows: 5fr 5fr 5fr;
        grid-template-areas:
            "badge1 message1"
            "badge2 message2"
            "badge3 message3";
        padding-top: 1rem;
    }

    .threeImg article {
        width: 75%;
        text-align: left;
        color: var(--color-link);
        cursor: pointer;
    }

    .badge1,
    .badge2 {
        width: 60px;
        height: 60px;
        padding: 0.7rem;
    }

    .badge1 {
        fill: var(--color-text);
    }

    .badge2 {
        fill: none;
        stroke-width: 50;
        stroke: var(--color-text);
    }

    .linkHeader {
        font-size: 1.4rem;
    }

    .footerWrapper {
        display: grid;
        grid-template-rows: 2fr 1fr;
        background-color: var(--color-menu);
        width: 100%;
        padding-bottom: 1rem;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding-left: 2rem;
        justify-content: center;
        gap: 20px;
        font-size: 1.2rem;
    }
}

#hamburger {
    display: block;
    width: 20px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: .6s ease-in-out;
    cursor: pointer;
    margin-right: 2rem;
}

#hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--color-text);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    position: absolute;
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2) {
    top: 7px;
}

#hamburger span:nth-child(3) {
    top: 14px;
}

#hamburger.open span:nth-child(1) {
    top: 7px;
    transform: rotate(135deg)
}

#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px
}

#hamburger.open span:nth-child(3) {
    top: 7px;
    transform: rotate(-135deg)
}