:root {
    --mobile-nav-height: 70px;
}

@media all and (max-width: 1000px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.3rem;
    }
}

.mobileMenuWrapper {
    display: none;
}

@media all and (max-width: 1000px) {
    .mobileMenuWrapper {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: var(--mobile-nav-height);
        background-color: var(--color-menu);
    }
}

#hamburger {
    display: block;
    width: 20px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    transition: .6s ease-in-out;
    cursor: pointer;
    margin-right: 2rem;
}

#hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--color-text);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    position: absolute;
}

#hamburger span:nth-child(1) {
    top: 0;
}

#hamburger span:nth-child(2) {
    top: 7px;
}

#hamburger span:nth-child(3) {
    top: 14px;
}


#hamburger.open span:nth-child(1) {
    top: 7px;
    transform: rotate(135deg)
}

#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -60px
}

#hamburger.open span:nth-child(3) {
    top: 7px;
    transform: rotate(-135deg)
}

@media all and (max-width: 1000px) {
    .mainWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--color-main-content);
    }
}

@media all and (max-width: 1000px) {
    .imgHeaderBig {
        top: 20%;
        width: 80%;
        font-size: 1.3rem;
    }
}

@media all and (max-width: 1000px) {
    #starterBox {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        background-color: var(--color-menu);
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}