:root {
    --max-width: 80vw;
    --top-nav-height: 150px;
}

@media all and (min-width: 1000px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }
}

header,
.menuWrapper {
    display: none;
}

@media all and (min-width: 1000px) {
    header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menuWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: var(--max-width);
        height: var(--top-nav-height);
        background-color: var(--color-menu);
    }

    .mainWrapper {
        width: var(--max-width);
    }

    .pageWrapper {
        display: flex;
        justify-content: center;
    }

    .bigImg img {
        max-width: 90%;
    }

    .imgHeaderBig {
        top: 40%;
        width: 70%;
        font-size: 3rem;
    }

    #starterBox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10%;
        justify-items: center;
        align-items: center;
        text-align: center;
        width: 70%;
        background-color: var(--color-menu);
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .fourImg {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 10px 10px 10px 10px;
        grid-template-areas:
            "img1 img2 img3 img4"
            "pr1 pr2 pr3 pr4";
        padding-top: 1rem;
    }

    .fourImg img {
        height: 350px;
        width: 70%;
        object-fit: cover;
    }

    .price {
        width: 50%;
        position: relative;
        top: -110%;
        text-shadow: 2px 2px 2px rgba(10, 10, 10, 0.8);
        cursor: pointer;
        color: var(--color-link);
    }

    .threeImg {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-columns: 5fr 5fr 5fr;
        grid-template-areas:
            "badge1 badge2 badge3"
            "message1 message2 message3";
        padding-top: 1rem;
    }

    .threeImg article {
        margin-bottom: 2rem;
        width: 75%;
        text-align: center;
        color: var(--color-link);
        cursor: pointer;
    }

    .badge1,
    .badge2 {
        width: 100px;
        height: 100px;
    }


    .badge1 {
        fill: var(--color-text);
    }

    .badge2 {
        fill: none;
        stroke-width: 50;
        stroke: var(--color-text);
    }

    .linkHeader {
        font-size: 1.8rem;
    }

    .footerWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--color-menu);
        width: var(--max-width);
    }

    .contacts {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        align-items: left;
        justify-content: center;
        gap: 20px;
        font-size: 1.2rem;
    }
}